.fifteen-slide-headline {
    margin-bottom: 15px;
    background: #19e3bc;
    padding: 22px;
    text-align: end;
    border-radius: 10px;
    color: white;
}
.fifteen-slide-headline h6 {
    line-height: 32px;
    font-size: 20px;
    font-weight: bold;
}

.border-bottom-left-side {
    text-align: end;
    color: #f5b960;
    padding-top: 6px;
    padding-bottom: 0px;
    border-bottom: 1px solid #8080804d;
    margin-bottom: 8px;
}
.main-class {
    border: 1px solid #fc74b5;
}
.main-class {
    background: #fc74b5;
}



.classes strong {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.classes {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 150px;
}
.number-boxes {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
}

.number-boxes span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #19E3BC;
    background: #e5fcf7;
    border-radius: 50%;
    font-size: 20px;
}

.item________ {
    background: #19e3bc !important;
    border: 1px solid #19e3bc !important;
}
.headline-sixth-column.items___.aos-init.aos-animate {
    background: #19e3bc !important;
    border: 1px solid #19e3bc !important;
}

.fifteen-card {
    border: 1px solid #19E3BC !important;
    background: #fafbff !important;
}
.classes strong {
    font-weight: bold;
    color: #767676;
}