.some-of-text-flex {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    bottom: 26px;
    border-bottom: 1px solid #80808052;
    padding-bottom: 11px;
}

.div1 p {
    margin-bottom: 0;
}

.div1 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.div1 p {
    font-size: 14px;
}

.div1 span {
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 17px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    right: -3px;
}

.div1 h3 {
    font-size: 20px;
}

.flex-box-column_______ {
    display: flex;
    justify-content: end;
    text-align: end;
    gap: 10px;
}

.flex-box-column_______ p {
    font-size: 14px;
}

.flex-box-column_______ p {
    margin: 0;
}

.flex-box-column_______ span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
    top: 9px;
}
.flex-box-column_______ {
    display: flex;
    justify-content: end;
    text-align: end;
    gap: 10px;
    margin-bottom: 14px;
    border-radius: 6px;
    border: 1px solid #80808075;
    padding: 10px;
}
.flex-box-column_______ {
    display: flex;
    justify-content: end;
    text-align: end;
    gap: 10px;
    margin-bottom: 14px;
    border-radius: 6px;
}

.flex-box-column_______ p {
    font-size: 14px;
    line-height: 23px;
}