.single____item {
    text-align: end;
    border: 1px solid #f7d1ff;
    height: 220px;
    margin-bottom: 22px;
    border-radius: 6px;
    padding: 21px;
}
.single____item p {
    font-size: 14px;
    line-height: 20px;
}
.single____item h3 {
    color: #803d8e;
    font-size: 23px;
    letter-spacing: 2px;
}