.navbar_{
    background: #e8f2f3;

}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;

}

.left-logo img {
    width: 70px;
}
.right-logo img {
    width: 230px;
}

.slider {
    background: #e8f2f3;

}

