// .navbar_{
//     background: #e8f2f3;

// }

.flex-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;

}

.left-logo img {
    width: 70px !important;
    height: auto !important;
}
.right-logo img {
    width: 230px !important;
    height: auto !important;
}


// .slider {
//     background: #e8f2f3;

// }

