.headline-of-other-slide h2 {
    font-size: 30px;
    font-weight: 700;
}

.headline-of-other-slide h2 span{
    color: red;
}


// f5f7fe

.right-slide-background{
    background: #f5f7fe;
    padding: 30px;
    margin-top: 60px;
    border-radius: 8px;
}

.right-slide-background h3 span {
    background: #f7752c;
    text-align: right;
    color: white;
    padding: 11px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 11px;
    display: inline-block;
    width: 300px;
}


.parent___ {
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .left__side___column______ h3 {
        font-size: 18px;
        text-align: end;
        border: 1px solid #80808021;
        padding: 11px;
        margin-top: 12px;
        border-radius: 8px;
    }

    .col-center-division img {
        height: 40px;
    }
    .col-center-division {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .column-image-center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .column-image-center img {
        height: 20px;
    }

    .left-side-column-content p {
        width: 90%;
        font-size: 13px;
        line-height: 22px;
        position: relative;
        bottom: 8px;
        margin: 0 auto;
    }

    .text___left {
        text-align: left !important;
    }

    .Line___height {
        line-height: 30px;
    }
    .left-side-column-content h3 {
        font-size: 18px;
        text-align: end;
        padding: 11px;
        margin-top: 0px;
        border-radius: 8px;
        padding-bottom: 0px;
        margin-bottom: 12px;
    }

    .right-slide-background {
        margin-bottom: 25px;
    }

    .right__side__navlink{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 7px;
        grid-row-gap: 0px;
        }

        .font-size-small h3 {
            font-size: 16px;
        }

        .left-side-column-content.text-end.mt-3 p {
            width: 93%;
            line-height: 23px;
            margin-bottom: 8px;
        }

        .right__side__navlink.border___bottom___side {
            border-bottom: 1px solid #80808021;
        }
        .svg-bannner img {
            width: 100%;
            margin-top: 12px;
        }

        .position-changing____ {
            position: relative;
        }
        .bottom-side-spacing-adding {
            height: 740px;
        }

        img.image__changing {
            display: block;
            margin-top: 16px;
            padding-bottom: 15px;
            height: 270px;
        }


        .____column__container {
            display: grid;
grid-template-columns: 1.5fr 1fr;
grid-template-rows: 1fr;
grid-column-gap: 7px;
grid-row-gap: 0px;
            }

            .right-slide-background h2 span {
                background: #f7752c;
                text-align: right;
                color: white;
                padding: 11px;
                font-size: 18px;
                font-weight: 400;
                border-radius: 11px;
                display: inline-block;
                width: 100%
            }

            .close__icon {
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: end;
            }

            .close__icon h6 {
                margin: 0;
                padding: 0;
            }

            .left-side-box-design {
                display: flex;
                align-items: center;
                gap: 35px;
                padding: 20px;
                background: white;
                margin-top: 30px;
            }
            .left-side-box-design p {
                text-align: end;
                font-size: 14px;
                line-height: 25px;
                font-weight: 400;
            }

            .left-side-box-design h4 {
                border: 1px solid #00000047;
                padding: 12px 37px;
                font-size: 20px;
                border-radius: 6px;
            }

            .left-side-box-design {
                display: flex;
                align-items: center;
                gap: 35px;
                padding: 20px;
                background: white;
                margin-top: 30px;
                border-radius: 8px;
            }

            .right_____side____contents h2 {
                font-size: 24px;
                position: relative;
                top: 14px;
                font-weight: 500;
            }

            .white___box__text {
                background: white;
                margin-left: 20px;
                padding: 18px;
                margin-top: 10px;
                border-radius: 5px;
            }

            .white___box__text p {
                font-size: 12px;
                width: 100% !important;
                line-height: 28px;
                letter-spacing: 1px;
                margin: 0;
            }

            .white___box__text img {
                width: 90px;
                position: relative;
                left: 5px;
            }

            .bottom-side-spacing-adding {
                height: 1350px;
            }


            .row-height {
                height: 1390px;
                margin-bottom: 50px;
            }


            .OtherContentSlide{
                background: url(../../assets/images/frame/banner.png);
                background-repeat: no-repeat;
                background-size: cover;
                height: 100vh;
                background-position: bottom center;
                margin-bottom: 60px;
            }