.sixteen-headline {
    border: 1px solid #13baeb;
    padding: 16px;
    margin-top: 13px;
    border-radius: 7px;
}

.headline_______ {
    background: #13baeb;
    padding: 5px 10px;
    text-align: end;
}

.headline_______  p{
    margin: 0;
}

.headline_______ {
    background: #13baeb;
    padding: 8px 10px;
    text-align: end;
    color: white;
    border-radius: 6px;
}

.headline_______ p {
    font-size: 20px;
    font-weight: 400;
}

.inside-headline {
    text-align: end;
    margin-top: 18px;
    color: #19e3bc;
    border-bottom: 1px solid #80808041;
}

.dote1 span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.dote1 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dote1 p{
    margin: 0;
}

.three-dote-flex {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.dote1 p {
    font-size: 10px;
}

.chart__image img {
    height: 140px;
    margin-top: 15px;
}
.chart__image{
    text-align: center;
}

.charts {
    padding-right: 17px;
    border-right: 2px solid #10a9f5;
}
.little-small-headline {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 18px;
    color: #19e3bc;
    gap: 8px;
    border-bottom: 1px solid #80808061;
    padding-bottom: 3px;
}

.number-and-text-item {
    display: flex;
    justify-content: end;
    text-align: end;
    gap: 4px;
    margin-top: 6px;
}

.number-and-text-item p{
    margin: 0;
}
.number-and-text-item p {
    font-size: 13px;
    line-height: 18px;
}

.number-and-text-item {
    display: flex;
    justify-content: end;
    text-align: end;
    gap: 4px;
    margin-top: 8px;
    border: 1px solid #10a9f5;
    padding: 5px;
    border-radius: 5px;
}

.number-and-text-item span {
    font-size: 15px;
}

.number-and-text-item {
    display: flex;
    justify-content: end;
    text-align: end;
    gap: 4px;
    margin-top: 8px;
    border: 1px solid #10a9f5;
    padding: 5px;
    border-radius: 5px;
    height: 50px;
    align-items: center;
}

.sixteen-headline {
    border: 1px solid #13baeb;
    padding: 16px;
    margin-top: 13px;
    border-radius: 7px;
    background: #f6fdff;
}

.some-of-important-content {
    display: flex;
    justify-content: end;
    text-align: end;
    gap: 4px;
}

.some-of-important-content p {
    margin: 0;
    font-size: 14px;
}

.some-of-important-content span {
    font-size: 14px;
    letter-spacing: 1px;
}

.some-of-important-content {
    display: flex;
    justify-content: end;
    text-align: end;
    gap: 4px;
    margin-top: 11px;
}

.some-of-important-content-border {
    border-right: 1px solid #13BAEB;
    padding-right: 14px;
}

.chart________image img {
    height: 102px;
    margin-top: 18px;
}

.black-shape-radius-text {
    display: flex;
    justify-content: end;
    text-align: end;
    gap: 2px;
}

.black____shape {
    display: flex;
    gap: 3px;
}

.black____shape p {
    font-size: 12px;
}

.black____shape span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    line-height: 4px;
}

.black____shape {
    align-items: center;
}

.black____shape span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    line-height: 4px;
    position: relative;
}
.black____shape p {
    font-size: 12px;
    position: relative;
    left: -2px;
}

.black____shape p {
    font-size: 11px;
    position: relative;
    left: -2px;
    margin: 0;
}

.image-resiing img {
    height: 160px;
    margin-top: 15px;
}

.image-resiing {
    border-bottom: 1px solid #13baeb;
    padding-bottom: 25px;
}

.col-lg-side-content__{
    display: flex;
    justify-content: end;
    text-align: end;
    gap: 4px;
    margin-top: 8px;
    border: 1px solid #10a9f5;
    padding: 5px;
    border-radius: 5px;
    height: 75px;
    align-items: center;
}

.col-lg-side-content__ p {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
.min-hight-calcuate {
    height: 390px;
}

.min-hight-calcuates {
    height: 715px;
}
