
  .app {
    padding: 0;
    width: 100%;
  
  }
  .minimized .header {
    transform: translateX(-20%);
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .x{
    background-color: red;
    z-index: 999;
  }
.remaining-content{
    /* margin-left: 10%; */
    flex:1;
}
.minimized .remaining-content{
    margin-left: 0%;
}

.header-toggle{
    padding: 20px;
}

  .toggle-button {
    cursor: pointer;
    font-size: 40px;
  }
  
  .root .icons {
    position: fixed;
    left: 20px;
    top: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: white;
    background-color: gray;
    z-index: 10;
  }
  

  


body{
    font-family: 'Arimo', sans-serif !important;
    margin: 0;
}

div#root {
    overflow: hidden;
}
.dashboard_card p {
    font-size: 16px;
    font-weight: bold;
}







.blog-item p {
    font-size: 13px !important

}



.first-grid-box- p {
    font-size: 15px !important;
    line-height: 22px;
}

.post-content p {
    font-size: 13px !important
}

.paragraph__content p 
 {
    font-size: 16px;
    line-height: 29px;
 }

 .headline-of-eighthSlide {
    background: #5585B5;
}


.more-class span {
    border: 1px solid #5585B5;
}

.text-end-side__ span {
    border: 1px solid #5585B5;
}


.white-border-design {
    border: 1px solid #5585B5;
}

.box-for-some-content {

    border: 1px solid #5585B5;
 
}

.box-for-some-content {
    background: #FAFBFF !important;
}

.ninth-number-box p {

    font-size: 15px;
  
}

.white______box p {
    margin: 0;
}

.ninth_col_6 p {
    font-size: 19px;
    position: relative;
    top: 8px;
}

.new-element-with-img h6 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 4px;
    left: -5px;
}

.single____item {
    border: 1px solid #13baebb8;
    height: 260px;
    background: #fafbff;
}



.single____item h3 {
    font-size: 45px;
    font-weight: bold;
}

.div1 p {
    font-size: 20px;
    font-weight: bold;
}

.div1 span {
    width: 10px;
    height: 10px;
 
}

.flex-box-column_______ p {
    font-size: 15px;
    line-height: 23px;
    font-weight: bold;
    color: #767676;
}



.flex-column-title p {
    font-size: 17px;
    margin-bottom: 12px;
    width: 95%;
    line-height: 30px;
    font-weight: bold;
}

.flex-column-title span {
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: bold;
}

.border-bottom-left-side.aos-init.aos-animate p {
    font-size: 27px;
    color: black;
    font-weight: bold;
}


.classes strong {
    font-size: 16px;

}

.col-lg-side-content__ p {
    font-size: 14px;
}



.col-lg-2-box p {
    font-size: 14px;
    font-weight: bold;
}

.dashboard_card p {

    font-size: 15px;
}


.last-fourth-image-item img {
    width: 100%;
    object-fit: fill;
    height: 160px;
}


.chart-headline____ p {
    font-size: 13px;
}
.chart-headline____ span {
    font-weight: bold;
    display: inline-block;
}
.fourth-flex-text___ span {
    font-weight: bold;
}
 
.cardparent p {
    font-size: 13px;
    margin: 0;
    text-align: end;
    margin-right: 3px;
    font-weight: bold;
}

.cardparent {
    border: 1px solid #36c4ee;
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 56px;
    border-radius: 8px;
}

.chart-containers__ small {
    font-size: 14px;
    width: 100%;
    text-align: end;
    display: block;
    font-weight: bold;
}
.more-grid h6 {
    background: blue;
    text-align: center;
    color: white;
    padding: 11px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 11px;
    text-align: end;
}
.table-image img {
    width: 100%;
    margin-top: 2px !important
}

.sidebar____text___bg h6 {
    text-align: center;
    background: blue;
    color: white;
    padding: 11px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 10px;
    margin: 0;
}

.lines {
    display: flex;
    gap: 7px;
    justify-content: end;
}

.headline-of-eighthSlide p {
    font-size: 22px;
    line-height: 36px;
    font-weight: bold;
    width: 90%;
}
.eighth-item h6 {
    margin-bottom: 20px;
    font-size: 19px;
    margin-bottom: 14px;
    text-align: end;
    font-weight: bold;
}
.white-border-design h4 {
    font-weight: bold;
}

.number span {
    font-size: 21px;

}

.ninth-number-box {

    height: 250px;
}
.headline h4 {
    font-size: 23px;
    font-weight: bold;
}

.ninth-number-box p {
    font-size: 18px;
    line-height: 31px;
    font-weight: bold;
    color: #767676;
}

.single__blog___card___item___ {
    padding: 15px;
}

.headline-of-eighthSlide {
    background: #9735C7!important;
    display: flex;
    justify-content: end;
}

.eighth-headline {
    background: #9735C7 !important;
    display: flex;
    justify-content: end;
}

.eighth-content {
    background: #fafbff !important;
    border: 1px solid #9635c758;
}


.list-style-container span {
    border: 1px solid #9635c758 !important
}
.parent span {
    border: 1px solid #9635c758 !important
}

.text-end-side__ span {
    border: 1px solid #9635c758 !important
}
.more-class span {
    border: 1px solid #9635c758 !important
}

.white-border-design {
    border: 1px solid #9635c758 !important
}

.box-for-some-content {
    border: 1px solid #9635c758 !important
}
.box-for-some-content h4 {
    font-size: 22px !important;
    font-weight: bold;
}


.numbers {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

.Custoom-slide {
    background: black;
    height: 1000px;
}

.navbar___item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.___logo___ img {
    height: 80px;
    background: white;
    padding: 10px;
    border-radius: 14px;
}

.navbar___item {
    padding: 24px 0px;
}

.post-content h6 {
    font-size: 18px !important
}

.slider h1 {
    font-size: 110px;
    margin: 45px 0;
    font-weight: 700;
}