.orange-headline__ {
    background: #f09713;
    padding: 23px;
    text-align: end;
    line-height: 27px;
    color: white;
    border-radius: 11px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.orange-headline__ h6 {
    font-size: 26px;
    line-height: 40px;
    font-weight: bold;
}

.custome-headline-for-rules h6 {
    text-align: end;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
}
.orange-bg-tagline p {
    text-align: end;
    font-size: 14px;
    line-height: 25px;
}

.orange-bg-tagline {
    background: #faedd9;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-bg-tagline p {
    text-align: end;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 0;
}

.image___and____text___grid {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .image___and____text___grid {
        display: flex;
        justify-content: end;
        gap: 10px;
        align-items: center;

    }

  

    .arrow-text-flex {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 355px;
        text-align: end;
        background: #FAEDD8;
        padding: 18px 20px;
        margin-bottom: 13px;
        border-radius: 6px;
        height: 75px;
    }


    .arrow____icon img {
        position: relative;
        left: 12px;
        bottom: 6px;
    }

    .arrow-text-flex {
        gap: 10px;
    }
    .top-side {
        position: relative;
        top: 22px;
    }

    .span-number span {
        width: 50px;
        height: 50px;
        text-align: center;
        display: inline-block;
        line-height: 50px;
        position: relative;
        top: 14px;
        background: #f5b960;
        font-size: 20px;
        color: white;
        border-radius: 50%;
        font-weight: bold;
    }