

.slider h5 {
    font-size: 42px;
    font-weight: 600;
}

.slider{
    position: relative;
}

.relative {
    position: relative;
}


.semi-bold{
    font-weight: 700 !important;
    font-size: 34px !important;
}

